* {
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
}
header {
  font-family: "American Typewriter", Serif;
  background-color: black;
  color: white;
  font-size: 150%;
  padding-left: 10%;
  padding-top: 3%;
}
header p{

  margin: 0;
}
main{
  margin-left: 10%;
  margin-right: 10%;
  overflow: visible;
  margin-bottom: 20%;
  margin-top: 10%;
}
main img {
  width: 100%;
}


footer {
  background-color: black;
  position:fixed;
  color: #fdf6c5;
  width: 100%;
  bottom: 0;
height: 8%;
  font-size: 150%;


}
footer p {
  font-size: 0.7em;
     position: absolute;
     vertical-align: bottom;
     width:100%;
  /* display: inline;
  padding-left: 27.5%;
  width: 100%; */
}
#mail {
  text-align: center;
}
footer img {
width: 50px;
float: right;
}
.activeimg{
  border: 3px #48a7e6 solid;
}
.border {
  border: white solid 3px;
  padding: 2%;
  border-radius: 20px;
  margin: 5% 0;
}

#instagram{
  margin-left: 15px;
  margin-right: 3%;
}

 #mobil {
  padding-left: 4%;
}

#logo {
  margin-left: 45%;
}
/*Danny's menu boks*/
#menutoggle, #fakecheckbox, #menu {
  display: none;
}


@media screen and (max-width: 790px){

  #desktop-version {
    display: none;
  }

  #menutoggle, #menu {
    display: inline;
  }



#menuToggle {
    display: block;
    position: relative;
      /* top: 7%; */ /*ser ikke ud til at gøre noget*/
    left: 10%; /*41px*/
    float: left;
    z-index: 1;
           padding-top: 3%;   /*Gør at der er mellemrum mellem toppen af menuen og toppen af telefonen*/
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;

  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -240%;
    padding: 50px;
    /* padding-top: 125px; */
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    top: 100px;

  }

  #menu li a {
    padding: 10px 0;
    font-size: 22px;
  }


  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media screen and (min-width: 791px) {
  h1 {
    text-align: center;
    color: #fdf6c5;
    padding-bottom: 3%;
    margin: 3%;
    border-bottom: 1px solid black;
    font-size: 300%;
  }
  header {
    margin-bottom: 10%;
    word-wrap: inherit;
    font-size: 1.5em;
  }
  nav ul li{
    margin-bottom: 5%;
    color: #ccc;
    font-size: 1em;
  }
  nav ul li a{
    margin-left: 2em;
    color: #fdf6c5;
    text-decoration: none;
  }
  button {
    color: #fdf6c5;
    background-color: #3a3a3a;
    font-size: 3em;
    border-radius: 30px;
    padding: 0.3em 4em;
  }
  .right p {
    font-size: 1.3em;
    margin-left: 0.8em;
    color: #fdf6c5;
  }
  .right img{
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 20px;

  }
  .column {
    float: left;
    border-radius: 25px;
    background-color: brown;
    margin-bottom: 5%;

  }

  .left {
    width: 22%;
    margin-left: 3%;
    margin-top: 2%;
  }
  .right {
    width: 69%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
  }
  .wrapper {
    text-align: center;
  }
#mobile-version{
  display: none;
}
#mobil {
  padding-left: 10%;
}

#rasmus {
  width: 30%;
  height: auto;
  float: right;
  margin-bottom: 2%;
}
}
